@charset "UTF-8";
/* FUENTES */
/* COLORES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 1.8%;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1019607843);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1.9fr 0.3fr;
  grid-template-areas: "logo secciones buscador iconos";
  align-items: center;
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
  height: 5rem;
  padding: 0 3rem;
  box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1019607843);
}
nav a {
  text-decoration: none;
  color: #000000;
}
nav .logo {
  grid-area: logo;
}
nav .menu {
  grid-area: secciones;
  height: 3.1rem;
  display: flex;
  align-items: center;
  text-align: center;
}
nav .menu .menu-item {
  font-size: 1rem;
}
nav .menu .menu-item:hover {
  color: #E46953;
  border-bottom: 0.2rem solid #E09898;
  padding-bottom: 0.2rem;
}
nav .menu .menu-item.active {
  color: #E46953;
  border-bottom: 0.2rem solid #E09898;
  padding-bottom: 0.2rem;
}
nav .search-bar {
  grid-area: buscador;
}
nav .search-bar input[type=text] {
  height: 2rem;
  width: 40%;
  border: none;
  background-color: #F3F3F3;
  margin-right: 0.3rem;
  font-size: 1rem;
  padding: 0 0.6rem;
  border-radius: 0.3rem;
}
nav .search-bar button {
  background-color: #F9C846;
  border: none;
  width: 5.6rem;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 2rem;
  margin-right: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 0.6rem;
  border-radius: 0.3rem;
}
nav .search-bar button:hover {
  background-color: #FBC431;
  color: #000000;
  box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1019607843);
}
nav .icons {
  grid-area: iconos;
}
nav .icons i:hover {
  color: rgba(0, 0, 0, 0.5254901961);
}

#chatbot-container {
  background-color: #F8F8F8;
  border: 1px solid #DDD;
  border-radius: 5px;
  width: 350px;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
  margin: 1rem;
  position: absolute;
  bottom: 100%;
  right: 0;
}

#chatbot-header {
  background-color: white;
  padding: 10px;
  color: black;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  height: 4.5rem;
}

.nombre_p {
  text-align: left;
  height: 100%;
}

.nombre_p h4 {
  font-size: 1.5rem;
  margin-top: 2px;
}

.borde-butom {
  width: 4rem;
  height: 4rem;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px; /* Ajusta este valor según sea necesario */
  right: 20px;
  z-index: 1;
}

#toggleButton {
  color: rgb(217, 217, 209);
}

.nombre_p p {
  position: relative;
  bottom: 10px;
  font-size: 0.8rem;
}

.foo-chtbot {
  padding: 10px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#chatbot-header img {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1rem;
  border-radius: 50%;
}

#chatbot-body {
  padding: 10px;
}

#chat-container {
  background-color: rgb(235, 233, 233);
  height: 250px;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid #DDD;
  border-radius: 5px;
  margin-bottom: 10px;
}

#input-container {
  display: flex;
}

#faq-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.faq-button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #595957;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.faq-button:hover {
  background-color: #393938;
}

.message {
  margin-bottom: 10px;
  margin-top: 10px;
}

.message.bot {
  margin-bottom: 10px;
  margin-top: 10px;
}

.message.user {
  background-color: #F2F2F2;
  padding: 10px;
  border-radius: 5px;
}

#clear-chat-button {
  position: relative;
  left: 9rem;
  top: 12px;
}

/* Estilos para los botones de preguntas relacionadas */
.related-question-button {
  display: inline-block;
  margin: 5px;
  margin-top: 1px;
  padding: 10px;
  background-color: #e0e0e0;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.related-question-button:hover {
  background-color: #ccc;
}

.fondo-inicio-img {
  background-image: url("../images/inicio.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.inicio-fondo {
  background-color: rgba(0, 0, 0, 0.6392156863);
  padding: 4rem 18rem;
  width: 100%;
}
.inicio-fondo button {
  background-color: #E9806E;
  color: #FFFFFF;
  border: none;
  width: 11.2rem;
  height: 2.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0 0.6rem;
  border-radius: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.inicio-fondo button:hover {
  background-color: #E46953;
  color: #FFFFFF;
  box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1019607843);
}
.inicio-fondo h1 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1.5rem;
}

.container-productos-vendidos {
  width: 90%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.container-regiones {
  width: 90%;
  margin: auto;
  margin-top: 3.5rem;
}

.sold-products .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-color: #FFFFFF;
}
.sold-products .grid-h3 {
  padding-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  grid-template-areas: "name price";
}
.sold-products .s-product {
  padding: 0rem 0.6rem;
  background-color: #FFFFFF;
  margin-bottom: 3.2rem;
  height: 20rem;
}
.sold-products .s-product img {
  margin-bottom: 1rem;
  border: solid 1px rgba(0, 0, 0, 0.1882352941);
  border-radius: 1.25rem;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sold-products .s-product .name-product {
  grid-area: name;
  padding: 0;
  margin: 0;
}
.sold-products .s-product .price {
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  grid-area: price;
  margin: 0;
}
.sold-products .s-product .region {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6392156863);
  margin: 0;
}

.container-personal {
  margin: 4rem 0;
}

.our-services {
  background-color: rgba(169, 229, 187, 0.231372549);
  padding: 3rem 0;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: auto;
}
.our-services .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}
.our-services .row .col-md-3 {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  width: 24%;
}
.our-services .fondo-services-img-1 {
  background-image: url("../images/inicio.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.25rem;
}
.our-services .fondo-services-img-2 {
  background-image: url("../images/inicio.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.25rem;
}
.our-services .fondo-services-img-3 {
  background-image: url("../images/inicio.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.25rem;
}
.our-services .fondo-services-img-4 {
  background-image: url("../images/inicio.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.25rem;
}
.our-services .services-fondo {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 15rem;
  padding: 1.2rem;
  font-size: small;
  color: rgba(0, 0, 0, 0);
  gap: 6.2rem;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.25rem;
}
.our-services .services-fondo:hover {
  background-color: rgba(0, 0, 0, 0.6392156863);
  color: #FFFFFF;
}

.regiones .row {
  padding-left: 0;
  padding-right: 0;
}
.regiones .fondo-regiones-img {
  background-image: url("../images/banner-regiones.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.25rem;
  height: 25rem;
}
.regiones .regiones-fondo {
  width: 29.5rem;
  height: 25rem;
  font-size: small;
  transition: all 0.5s ease;
  color: #000000;
  margin-left: 3.5rem;
  display: flex;
  align-items: center;
}
.regiones .regiones-fondo .div-region {
  background-color: rgba(255, 255, 255, 0.8196078431);
  display: flex;
  align-content: center;
  align-items: center;
  padding: 1rem 4rem;
  height: 18rem;
  width: 100%;
}
.regiones .regiones-fondo button {
  background-color: #E9806E;
  color: #FFFFFF;
  border: none;
  width: 11.2rem;
  height: 2.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0 0.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.regiones .regiones-fondo button:hover {
  background-color: #E46953;
  color: #FFFFFF;
  box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1019607843);
}

.our-team {
  background-color: rgba(249, 201, 70, 0.1450980392);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.our-team h2 {
  padding-bottom: 0;
}
.our-team .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}
.our-team .row button {
  background-color: #E9806E;
  color: #FFFFFF;
  border: none;
  width: 100%;
  height: 2.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 1s ease;
}
.our-team .row button:hover {
  background-color: #E46953;
  color: #FFFFFF;
  box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1019607843);
}
.our-team .row .personal {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.our-team .row .personal img {
  border-radius: 0.3rem;
  height: 70%;
  object-fit: cover;
}
.our-team .row .personal:hover img {
  transform: scale(1.06, 1.06);
}
.our-team .row .personal p {
  padding-top: 1rem;
}

.container-testimonios {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  margin-bottom: 5rem;
}
.container-testimonios .testimonios {
  background-color: rgba(233, 128, 110, 0.1176470588);
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  width: 90%;
}
.container-testimonios .testimonios .row .card-testimonio {
  background-color: #FFFFFF;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
}
.container-testimonios .testimonios .row .card-testimonio img {
  border-radius: 0.3rem;
  height: 3.5rem;
  object-fit: cover;
}
.container-testimonios .testimonios .row .card-star {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.container-testimonios .testimonios .p {
  padding-top: 1rem;
  margin-bottom: 0;
}

.container-catalogo {
  width: 90%;
  margin: auto;
}
.container-catalogo .filtro {
  margin-top: 4%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #F5F5F5;
  border-radius: 0.8rem;
}
.container-catalogo .filtro h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.container-catalogo .filtro .f-precio h4 {
  margin-bottom: 1.5rem;
}
.container-catalogo .filtro .f-precio .price-input {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container-catalogo .filtro .f-precio .price-input .field {
  display: flex;
  align-items: center;
}
.container-catalogo .filtro .f-precio .price-input .field span {
  margin: 0 0.5rem;
}
.container-catalogo .filtro .f-precio .price-input .field input {
  width: 5rem;
  font-size: 1rem;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 0.4rem;
  border: solid #4F4F4F 1px;
}
.container-catalogo .filtro .f-precio .price-input .field input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.container-catalogo .filtro .f-precio .price-input .field input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.container-catalogo .filtro .f-precio .price-input .separator {
  font-weight: 600;
  font-size: 1.5rem;
}
.container-catalogo .filtro .f-precio .slider {
  height: 0.7rem;
  position: relative;
  border-radius: 0.6rem;
  background-color: #CFC9C9;
}
.container-catalogo .filtro .f-precio .slider .progress {
  height: 100%;
  position: absolute;
  left: 25%;
  right: 25%;
  border-radius: 0.6rem;
  background-color: #ACDE7B;
}
.container-catalogo .filtro .f-precio .range-input {
  position: relative;
  /*.range-min::-webkit-slider-thumb{
      -webkit-appearance: none;
      height: 0.7rem;
      width: 20%;
      border-radius: 0.6rem;
      background-color: #ACDE7B;
      pointer-events: auto;
  }
  .range-max::-webkit-slider-thumb{
      -webkit-appearance: none;
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 50%;
      background-color: #ACDE7B;
      box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.219);
      pointer-events: auto;
  }*/
}
.container-catalogo .filtro .f-precio .range-input input {
  -webkit-appearance: none;
  position: absolute;
  top: -0.7rem;
  width: 100%;
  height: 0.7rem;
  background: none;
  pointer-events: none;
}
.container-catalogo .filtro .f-precio .range-input input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  background-color: #ACDE7B;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.219);
  pointer-events: auto;
}
.container-catalogo .filtro .f-ordenar-por {
  display: flex;
  flex-direction: column;
}
.container-catalogo .filtro .f-ordenar-por .option-selected {
  position: relative;
  margin-bottom: 1rem;
  cursor: pointer;
  order: 0;
}
.container-catalogo .filtro .f-ordenar-por .option-selected::after {
  content: "";
  background: url("../images/icons/angle-down.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 1rem;
  top: 0.2rem;
  right: 0.5rem;
  transition: all 0.4s;
}
.container-catalogo .filtro .f-ordenar-por .options-container {
  max-height: 0;
  width: 100%;
  transition: all 0.4s;
  overflow: hidden;
  opacity: 0;
  order: 1;
}
.container-catalogo .filtro .f-ordenar-por .options-container .option {
  display: flex;
  margin-bottom: 0.5rem;
}
.container-catalogo .filtro .f-ordenar-por .options-container .option input {
  cursor: pointer;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: solid black 0.1rem;
  transform: translateY(0.25em);
  display: grid;
  place-content: center;
  margin-inline: 0.5rem;
}
.container-catalogo .filtro .f-ordenar-por .options-container .option input[type=radio] {
  -webkit-appearance: none;
}
.container-catalogo .filtro .f-ordenar-por .options-container .option input[type=radio]::before {
  content: "";
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #ACDE7B;
  border: solid #ACDE7B 0.1rem;
}
.container-catalogo .filtro .f-ordenar-por .options-container .option input[type=radio]:checked::before {
  transform: scale(1);
}
.container-catalogo .filtro .f-ordenar-por .options-container .option input[type=radio]:checked {
  border: solid #ACDE7B 0.1rem;
}
.container-catalogo .filtro .f-ordenar-por .options-container .option label {
  cursor: pointer;
}
.container-catalogo .filtro .f-ordenar-por .options-container .option:hover input {
  border: #ACDE7B solid 2px;
}
.container-catalogo .filtro .f-ordenar-por .options-container.active {
  max-height: 8rem;
  opacity: 1;
}
.container-catalogo .filtro .f-ordenar-por .options-container.active + .option-selected::after {
  transform: rotateX(180deg);
  top: -0.5rem;
}
.container-catalogo .filtro .f-categorias {
  display: flex;
  flex-direction: column;
}
.container-catalogo .filtro .f-categorias .option-selected {
  margin-top: 1rem;
  position: relative;
  margin-bottom: 1rem;
  cursor: pointer;
  order: 0;
}
.container-catalogo .filtro .f-categorias .option-selected::after {
  content: "";
  background: url("../images/icons/angle-down.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 1rem;
  top: 0.2rem;
  right: 0.5rem;
  transition: all 0.4s;
}
.container-catalogo .filtro .f-categorias .options-container {
  max-height: 0;
  width: 100%;
  transition: all 0.4s;
  overflow: hidden;
  opacity: 0;
  order: 1;
}
.container-catalogo .filtro .f-categorias .options-container::-webkit-scrollbar {
  width: 0.5rem;
  background: #CFC9C9;
  border-radius: 0.5rem;
}
.container-catalogo .filtro .f-categorias .options-container::-webkit-scrollbar-thumb {
  background-color: #ACDE7B;
  border-radius: 0.5rem;
}
.container-catalogo .filtro .f-categorias .options-container .option {
  display: flex;
  margin-bottom: 0.5rem;
}
.container-catalogo .filtro .f-categorias .options-container .option input {
  cursor: pointer;
  height: 1em;
  width: 1em;
  border: solid black 0.1rem;
  transform: translateY(0.25em);
  display: grid;
  place-content: center;
  margin-inline: 0.5rem;
}
.container-catalogo .filtro .f-categorias .options-container .option input[type=checkbox] {
  -webkit-appearance: none;
}
.container-catalogo .filtro .f-categorias .options-container .option input[type=checkbox]::before {
  content: "";
  width: 0.6em;
  height: 0.6em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #ffffff;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.container-catalogo .filtro .f-categorias .options-container .option input[type=checkbox]:checked::before {
  transform: scale(1);
}
.container-catalogo .filtro .f-categorias .options-container .option input[type=checkbox]:checked {
  border: solid #ACDE7B 0.1rem;
  background-color: #ACDE7B;
}
.container-catalogo .filtro .f-categorias .options-container .option label {
  cursor: pointer;
}
.container-catalogo .filtro .f-categorias .options-container .option:hover input {
  border: #ACDE7B solid 0.1rem;
}
.container-catalogo .filtro .f-categorias .options-container.active {
  max-height: 8rem;
  opacity: 1;
  overflow-y: scroll;
}
.container-catalogo .filtro .f-categorias .options-container.active + .option-selected::after {
  transform: rotateX(180deg);
  top: -0.5rem;
}
.container-catalogo .filtro .f-regiones {
  display: flex;
  flex-direction: column;
}
.container-catalogo .filtro .f-regiones .option-selected {
  margin-top: 1rem;
  position: relative;
  margin-bottom: 1rem;
  cursor: pointer;
  order: 0;
}
.container-catalogo .filtro .f-regiones .option-selected::after {
  content: "";
  background: url("../images/icons/angle-down.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 1rem;
  top: 0.2rem;
  right: 0.5rem;
  transition: all 0.4s;
}
.container-catalogo .filtro .f-regiones .options-container {
  max-height: 0;
  width: 100%;
  transition: all 0.4s;
  overflow: hidden;
  opacity: 0;
  margin-bottom: 1.5rem;
  order: 1;
}
.container-catalogo .filtro .f-regiones .options-container::-webkit-scrollbar {
  width: 0.5rem;
  background: #CFC9C9;
  border-radius: 0.5rem;
}
.container-catalogo .filtro .f-regiones .options-container::-webkit-scrollbar-thumb {
  background-color: #ACDE7B;
  border-radius: 0.5rem;
}
.container-catalogo .filtro .f-regiones .options-container .option {
  display: flex;
  margin-bottom: 0.5rem;
}
.container-catalogo .filtro .f-regiones .options-container .option input {
  cursor: pointer;
  height: 1em;
  width: 1em;
  border: solid black 0.1rem;
  transform: translateY(0.25em);
  display: grid;
  place-content: center;
  margin-inline: 0.5rem;
}
.container-catalogo .filtro .f-regiones .options-container .option input[type=checkbox] {
  -webkit-appearance: none;
}
.container-catalogo .filtro .f-regiones .options-container .option input[type=checkbox]::before {
  content: "";
  width: 0.6em;
  height: 0.6em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #ffffff;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.container-catalogo .filtro .f-regiones .options-container .option input[type=checkbox]:checked::before {
  transform: scale(1);
}
.container-catalogo .filtro .f-regiones .options-container .option input[type=checkbox]:checked {
  border: solid #ACDE7B 0.1rem;
  background-color: #ACDE7B;
}
.container-catalogo .filtro .f-regiones .options-container .option label {
  cursor: pointer;
}
.container-catalogo .filtro .f-regiones .options-container .option:hover input {
  border: #ACDE7B solid 0.1rem;
}
.container-catalogo .filtro .f-regiones .options-container.active {
  max-height: 8rem;
  opacity: 1;
  overflow-y: scroll;
}
.container-catalogo .filtro .f-regiones .options-container.active + .option-selected::after {
  transform: rotateX(180deg);
  top: -0.5rem;
}
.container-catalogo .container_productos {
  margin: auto;
  margin-top: 4%;
  padding: 0;
}
.container-catalogo .container_productos .product {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  border: solid white 0.5rem;
  box-shadow: inset 0rem 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.0431372549);
}
.container-catalogo .container_productos .product:hover figure {
  box-shadow: inset 0 0.5rem 1rem rgba(0, 0, 0, 0.231372549);
}
.container-catalogo .container_productos .product:hover figure img {
  transform: scale(1.1, 1.1);
}
.container-catalogo .container_productos .product .rating {
  position: absolute;
  align-self: flex-start;
  top: 1.2rem;
  left: 1.5rem;
  z-index: 2;
  background-color: rgba(255, 225, 253, 0.7568627451);
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 0.4rem;
}
.container-catalogo .container_productos .product .rating i {
  color: #DE7BD7;
}
.container-catalogo .container_productos .product .rating .rating-value {
  font-weight: 600;
}
.container-catalogo .container_productos .product figure {
  width: 90%;
  margin-top: 0.9rem;
  margin-bottom: 0;
  border-radius: 0.9rem;
  text-align: center;
  overflow: hidden;
}
.container-catalogo .container_productos .product figure img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  transition: all 1s ease;
}
.container-catalogo .container_productos .product .info-product {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-catalogo .container_productos .product .info-product h4 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.container-catalogo .container_productos .product .info-product button {
  margin-bottom: 1rem;
  background-color: #242423;
  color: #FFFFFF;
  border: none;
  width: 100%;
  height: 32px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container-catalogo .container_productos .product .info-product button:hover {
  background-color: #0E0E0E;
  color: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1019607843);
}
.container-catalogo .container_productos .pages {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.container-catalogo .container_productos .pages button {
  background-color: #FFFFFF;
  border: 0;
  padding-inline: 0.7rem;
}
.container-catalogo .container_productos .pages button i {
  opacity: 50%;
}
.container-catalogo .container_productos .pages #numero_pagina {
  background-color: #F2F2F2;
  border: none;
  border-radius: 0.8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  padding: 0.2rem;
  text-align: center;
  width: 3rem;
}
.container-catalogo .container_productos .pages #numero_pagina[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.container-catalogo .container_productos .pages #numero_pagina[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.interest-products {
  margin: 3rem 0;
  background-color: rgba(169, 229, 187, 0.231372549);
}
.interest-products h2 {
  padding: 2rem 0;
  text-align: center;
}
.interest-products .container-slider {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  padding-bottom: 2rem;
}
.interest-products .container-slider .container-carousel {
  max-width: 87rem;
  width: 100%;
  position: relative;
}
.interest-products .container-slider .container-carousel .caret {
  cursor: pointer;
  position: absolute;
  top: 50%;
  opacity: 50%;
}
.interest-products .container-slider .container-carousel .caret:first-child {
  left: -1.5rem;
}
.interest-products .container-slider .container-carousel .caret:last-child {
  right: -1.5rem;
}
.interest-products .container-slider .container-carousel .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(25% - 12px);
  gap: 16px;
  margin-bottom: 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.interest-products .container-slider .container-carousel .carousel::-webkit-scrollbar {
  display: none;
}
.interest-products .container-slider .container-carousel .carousel .carousel-product {
  scroll-snap-align: end;
  background-color: #FFFFFF;
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  box-shadow: inset 0rem 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.0431372549);
}
.interest-products .container-slider .container-carousel .carousel .carousel-product .rating {
  position: absolute;
  align-self: flex-start;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 2;
  background-color: rgba(255, 225, 253, 0.7568627451);
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 0.4rem;
}
.interest-products .container-slider .container-carousel .carousel .carousel-product .rating i {
  color: #DE7BD7;
}
.interest-products .container-slider .container-carousel .carousel .carousel-product .rating .rating-value {
  font-weight: 600;
}
.interest-products .container-slider .container-carousel .carousel .carousel-product figure {
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 0;
  border-radius: 0.9rem;
  text-align: center;
  overflow: hidden;
}
.interest-products .container-slider .container-carousel .carousel .carousel-product figure img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  transition: all 1s ease;
}
.interest-products .container-slider .container-carousel .carousel .carousel-product .info-product {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interest-products .container-slider .container-carousel .carousel .carousel-product .info-product h4 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.interest-products .container-slider .container-carousel .carousel .carousel-product .info-product button {
  margin-bottom: 1rem;
  background-color: #242423;
  color: #FFFFFF;
  border: none;
  width: 100%;
  height: 32px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.interest-products .container-slider .container-carousel .carousel .carousel-product .info-product button:hover {
  background-color: #0E0E0E;
  color: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1019607843);
}

.container-reg {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 6rem;
}
.container-reg .row .reg {
  position: relative;
  display: inline-block;
  margin-top: 1.5rem;
  height: 15rem;
}
.container-reg .row .reg img {
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-reg .row .reg .div-btn {
  width: 94%;
  position: absolute;
  bottom: 0.5rem;
  display: flex;
  justify-content: center;
}
.container-reg .row .reg .div-btn button {
  padding: 0.5rem 0;
  width: 12rem;
  background-color: rgba(169, 229, 187, 0.9333333333);
  font-weight: bold;
  border: none;
  border-radius: 1.25rem;
  font-size: 1rem;
}

.fondo-inicio-reg-img {
  background-image: url("../images/regiones/Cusco.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.inicio-fondo-region {
  background-color: rgba(0, 0, 0, 0.6392156863);
  padding: 10rem 18rem;
  width: 100%;
}
.inicio-fondo-region .h1-desc-reg {
  font-size: 5rem;
  font-family: "Kavoon", cursive;
  color: rgba(224, 222, 222, 0.8);
}

.container-historia {
  width: 90%;
  margin: auto;
  margin-top: 3rem;
}
.container-historia .bg-color {
  background-color: #F6F6F6;
  padding: 1rem;
}

.container-lugares {
  width: 90%;
  margin: auto;
  margin-top: 3rem;
}
.container-lugares .bg-color {
  background-color: #F6F6F6;
  padding: 1rem;
}
.container-lugares .row {
  margin-bottom: 6rem;
  margin: auto;
}
.container-lugares .row .lug {
  margin-top: 1rem;
  padding: 1.2rem;
}
.container-lugares .row .lug .img-lug {
  margin: 0;
}
.container-lugares .row .lug .img-lug img {
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-lugares .row .lug .info-lug h3 {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px black solid;
}
.container-lugares .row .lug .info-lug p {
  margin-top: 1.2rem;
}

.container-artesanos {
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.container-artesanos .bg-color {
  background-color: #F6F6F6;
  padding: 1rem;
}
.container-artesanos .row {
  margin-bottom: 6rem;
  margin: auto;
}
.container-artesanos .row .art {
  margin-top: 1rem;
  padding: 1.2rem;
}
.container-artesanos .row .art .img-art {
  margin: 0;
  height: 17rem;
}
.container-artesanos .row .art .img-art img {
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-artesanos .row .art .info-art h3 {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px black solid;
}
.container-artesanos .row .art .info-art p {
  margin-top: 1.2rem;
}

.container-contacto {
  padding: 4rem 0;
}
.container-contacto .form-contact {
  margin-top: 2rem;
  width: 90%;
  margin: auto;
}
.container-contacto .form-contact input {
  margin: auto;
  width: 100%;
  height: 2.5rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 0.5rem;
  border: transparent;
  background-color: #F3F3F3;
  color: #000000;
  font-size: 0.75rem;
  border-bottom: solid rgba(0, 0, 0, 0.6392156863) 1px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1019607843);
}
.container-contacto .form-contact h6 {
  text-align: left;
  width: auto;
  font-size: 1rem;
  margin-top: 1.2rem;
  margin-bottom: 0.75rem;
}
.container-contacto .btn-contac-submit {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.container-contacto .btn-contac-submit button {
  padding: 0.5rem;
  width: 48%;
  border-radius: 4px;
  border: transparent;
}
.container-contacto .form-contac-row {
  width: 90%;
  margin: auto;
}
.container-contacto .img-contact img {
  width: 100%;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-contacto .padding-abajo {
  padding-bottom: 1.7rem;
}
.container-contacto #btn-contac-one {
  background-color: #000000;
  color: #FFFFFF;
}
.container-contacto #btn-contac-one:hover {
  background-color: #0E0E0E;
  color: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1019607843);
}
.container-contacto #btn-contac-two {
  background-color: #F9C846;
  color: #000000;
}
.container-contacto #btn-contac-two:hover {
  background-color: #FBC431;
  color: #000000;
  box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1019607843);
}
.container-contacto #input-menssage-contact {
  font-size: 0.75rem;
  padding: 0.5rem;
  background-color: #F3F3F3;
  width: 100%;
  border: transparent;
  height: 13rem;
  border-bottom: solid rgba(0, 0, 0, 0.6392156863) 1px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1019607843);
}

.breadcrumbs {
  margin-top: 1rem;
  margin-left: 4rem;
}
.breadcrumbs ul {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.breadcrumbs ul .breadcrumbs-item:not(:last-of-type)::after {
  content: "/";
  margin-left: 1rem;
  margin-right: 0.5rem;
  color: #D3D3D3;
  font-size: 1.3rem;
}
.breadcrumbs ul .breadcrumbs-item .breadcrumbs-link {
  color: #858585;
}
.breadcrumbs ul .breadcrumbs-item .breadcrumbs-link:hover {
  color: #E46953;
  border-bottom: 0.2rem solid #E09898;
  padding-bottom: 0.2rem;
}
.breadcrumbs ul .breadcrumbs-item .breadcrumbs-link.active {
  color: #E46953;
}
.breadcrumbs ul li:last-child .breadcrumbs-link {
  font-weight: bold;
}

.product-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.product-container .product-box {
  width: 60%;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.product-container .product-box .small-images {
  display: flex;
  flex-direction: column;
  margin-right: 3.5rem;
}
.product-container .product-box .small-images figure {
  margin-bottom: 0.5rem;
  border-radius: 0.6rem;
  overflow: hidden;
}
.product-container .product-box .small-images figure img {
  width: 8rem;
  border-radius: 0.6rem;
  transition: all 0.5s ease;
}
.product-container .product-box .small-images figure:hover {
  box-shadow: inset 0 0.5rem 1rem rgba(0, 0, 0, 0.231372549);
}
.product-container .product-box .small-images figure:hover img {
  transform: scale(1.1, 1.1);
}
.product-container .product-box .small-images figure:last-child {
  margin-bottom: 0;
}
.product-container .product-box .main-images figure {
  border-radius: 0.6rem;
}
.product-container .product-box .main-images figure #image-box {
  width: 35rem;
  border-radius: 0.6rem;
}
.product-container .general-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-container .general-info .rating-comments {
  align-self: normal;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}
.product-container .general-info .rating-comments .rating {
  width: 50%;
  text-align: center;
}
.product-container .general-info .rating-comments .rating i {
  color: rgba(224, 222, 222, 0.8);
}
.product-container .general-info .rating-comments .rating .rated {
  color: #F9C846;
}
.product-container .general-info .rating-comments .rating .rating-value {
  margin-left: 0.5rem;
}
.product-container .general-info .rating-comments .number-comments {
  width: 50%;
  text-align: center;
}
.product-container .general-info h3 {
  margin-bottom: 2.5rem;
}
.product-container .general-info h2 {
  text-align: center;
}
.product-container .general-info h4 {
  align-self: flex-start;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}
.product-container .general-info .color-options {
  align-self: normal;
  margin-bottom: 1.5rem;
}
.product-container .general-info .color-options ul {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.product-container .general-info .color-options ul .color-item {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.product-container .general-info .color-options ul .color-item .option {
  position: relative;
  top: 0.15rem;
  left: 0.15rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: none;
}
.product-container .general-info .color-options ul .color-item:nth-child(1) .option {
  background-color: #E09898;
}
.product-container .general-info .color-options ul .color-item:nth-child(2) .option {
  background-color: #9d9d9d;
}
.product-container .general-info .color-options ul .color-item:nth-child(3) .option {
  background-color: #000000;
}
.product-container .general-info .color-options ul .color-item:hover {
  border: solid 2px #858585;
}
.product-container .general-info .color-options ul .color-item.selected {
  border: solid 2px #858585;
}
.product-container .general-info .f-talla {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
  border-radius: 0.8rem;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
}
.product-container .general-info .f-talla .option-selected {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  order: 0;
}
.product-container .general-info .f-talla .option-selected::after {
  content: "";
  background: url("../images/icons/angle-down.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 1rem;
  top: 0.2rem;
  right: 0.5rem;
  transition: all 0.4s;
}
.product-container .general-info .f-talla .options-container {
  max-height: 0;
  width: 100%;
  transition: all 0.4s;
  overflow: hidden;
  opacity: 0;
  order: 1;
}
.product-container .general-info .f-talla .options-container .option {
  display: flex;
  margin-bottom: 0.5rem;
}
.product-container .general-info .f-talla .options-container .option input {
  cursor: pointer;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: solid black 0.1rem;
  transform: translateY(0.25em);
  display: grid;
  place-content: center;
  margin-inline: 0.5rem;
}
.product-container .general-info .f-talla .options-container .option input[type=radio] {
  -webkit-appearance: none;
}
.product-container .general-info .f-talla .options-container .option input[type=radio]::before {
  content: "";
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #ACDE7B;
  border: solid #ACDE7B 0.1rem;
}
.product-container .general-info .f-talla .options-container .option input[type=radio]:checked::before {
  transform: scale(1);
}
.product-container .general-info .f-talla .options-container .option input[type=radio]:checked {
  border: solid #ACDE7B 0.1rem;
}
.product-container .general-info .f-talla .options-container .option label {
  cursor: pointer;
}
.product-container .general-info .f-talla .options-container .option:hover input {
  border: #ACDE7B solid 2px;
}
.product-container .general-info .f-talla .options-container .option:first-child {
  margin-top: 1rem;
}
.product-container .general-info .f-talla .options-container.active {
  max-height: 8rem;
  opacity: 1;
}
.product-container .general-info .f-talla .options-container.active + .option-selected::after {
  transform: rotateX(180deg);
  top: -0.5rem;
}
.product-container .general-info .cantidad {
  display: flex;
  justify-content: center;
  height: 3rem;
  margin-bottom: 1rem;
}
.product-container .general-info .cantidad .minus {
  width: 3rem;
  background-color: #F3F3F3;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.product-container .general-info .cantidad .unidades-selected {
  background-color: #FFFFFF;
  border: none;
  border-right: solid rgba(185, 185, 185, 0.6352941176) 1px;
  border-left: solid rgba(185, 185, 185, 0.6352941176) 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  padding: 0.2rem;
  text-align: center;
  width: 4rem;
}
.product-container .general-info .cantidad .unidades-selected[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.product-container .general-info .cantidad .unidades-selected[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.product-container .general-info .cantidad .plus {
  width: 3rem;
  background-color: #F3F3F3;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.product-container .general-info .stock-producto {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.product-container .general-info .stock-producto span {
  margin-left: 0.5rem;
}
.product-container .general-info .agregar-carrito {
  width: 85%;
  border: none;
  height: 3rem;
  border-radius: 0.8rem;
  background-color: #A9E5BB;
  font-weight: 600;
}
.product-container .general-info .agregar-carrito span {
  margin-right: 1rem;
}

.more-info-product {
  width: 90%;
  margin: auto;
}
.more-info-product .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.more-info-product .row figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.more-info-product .row .info-artesano h3 {
  font-weight: 400;
  border-bottom: 0.2rem solid black;
  padding-bottom: 0.7rem;
}
.more-info-product .row .info-artesano h4 {
  opacity: 70%;
}
.more-info-product .row .info-artesano p {
  text-align: justify;
  opacity: 70%;
}
.more-info-product .row .history-product {
  position: relative;
  display: flex;
  flex-direction: column;
}
.more-info-product .row .history-product h3 {
  font-weight: 400;
  border-bottom: 0.2rem solid black;
  padding-bottom: 0.7rem;
}
.more-info-product .row .history-product p {
  text-align: justify;
  opacity: 70%;
}
.more-info-product .row .history-product .region {
  align-self: flex-end;
  margin-top: 1.5rem;
}
.more-info-product .row .history-product .region .region-name {
  margin-left: 0.3rem;
  margin-right: 1.5rem;
}
.more-info-product .row .history-product .region .conocer-mas {
  border: none;
  background-color: #F9C846;
  border-radius: 1rem;
  width: 8.5rem;
  height: 2rem;
  font-weight: 500;
}
.more-info-product .product-details h3 {
  font-weight: 400;
  border-bottom: 0.2rem solid black;
  padding-bottom: 0.7rem;
}
.more-info-product .product-details p {
  text-align: justify;
  opacity: 70%;
}

.comments-section .comments-presentation {
  background-color: #F2F2F2;
  width: 90%;
  height: 18rem;
  padding: 1.5rem;
  margin: auto;
  border-radius: 2rem;
}
.comments-section .comments-presentation h3 {
  margin-bottom: 1rem;
}
.comments-section .comments-presentation .new-comment-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.comments-section .comments-presentation .new-comment-section .user-icon {
  margin-right: 1rem;
  margin-top: 0.5rem;
}
.comments-section .comments-presentation .new-comment-section .comment-column {
  width: 100%;
}
.comments-section .comments-presentation .new-comment-section .comment-column h4 {
  margin-left: 1rem;
}
.comments-section .comments-presentation .new-comment-section .comment-column .input-comment {
  width: 95%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
.comments-section .comments-presentation .new-comment-section .comment-column .input-comment #newComment {
  width: 100%;
  height: 3rem;
  outline: none;
  border: none;
  padding: 1rem;
  background-color: transparent;
  color: black;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
  align-self: flex-start;
}
.comments-section .comments-presentation .new-comment-section .comment-column .input-comment #newComment::placeholder {
  color: black;
  text-align: start;
}
.comments-section .comments-presentation .new-comment-section .comment-column .input-comment #newComment:focus {
  border-bottom: 2px solid #000000;
}
.comments-section .comments-presentation .new-comment-section .comment-column .input-comment .bottom-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comments-section .comments-presentation .new-comment-section .comment-column .input-comment .bottom-input .rating-input {
  margin-left: 1rem;
  color: #bfbfbf;
  font-size: 1.2rem;
  cursor: pointer;
}
.comments-section .comments-presentation .new-comment-section .comment-column .input-comment .bottom-input .rating-input i.active {
  color: #F9C846;
}
.comments-section .comments-presentation .new-comment-section .comment-column .input-comment .bottom-input .btn-comment {
  height: 3.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}
.comments-section .comments-presentation .new-comment-section .comment-column .input-comment .bottom-input .btn-comment button {
  height: 2.4rem;
  width: 8rem;
  font-size: 1rem;
  border: 0;
  outline: none;
  font-weight: 600;
  border-radius: 1rem;
  background-color: #242423;
  color: white;
  transition: all 0.3s ease;
}
.comments-section .comments-presentation .new-comment-section .comment-column .input-comment .bottom-input .btn-comment button:hover {
  background-color: #0E0E0E;
  color: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1019607843);
}
.comments-section .comments-container {
  width: 90%;
  background-color: white;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: auto;
  margin-top: 1.5rem;
  padding: 1.5rem;
}
.comments-section .comments-container .comment {
  width: 100%;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 0.5fr 25fr 3fr;
  grid-template-rows: auto;
  justify-content: flex-start;
  gap: 0 1.5rem;
  grid-template-areas: "user-icon comment-text icons";
}
.comments-section .comments-container .comment .comment-user {
  align-self: center;
  justify-self: flex-start;
  grid-area: "user-icon";
}
.comments-section .comments-container .comment .comment-text {
  text-align: justify;
  grid-area: "comment-text";
  justify-self: flex-start;
}
.comments-section .comments-container .comment .comment-votes {
  display: flex;
  justify-self: center;
  align-self: center;
  align-items: center;
  gap: 1rem;
  grid-area: "icons";
}
.comments-section .comments-container .comment .comment-votes .liked-comment .count {
  margin: 0;
}
.comments-section .comments-container .comment .comment-votes .dislike-comment .count {
  margin: 0;
}
.comments-section .pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.comments-section .pagination-buttons button {
  background-color: white;
  border: 0;
  padding-inline: 0.7rem;
}
.comments-section .pagination-buttons button i {
  opacity: 50%;
}
.comments-section .pagination-buttons #currentPageIndicator {
  background-color: #F2F2F2;
  border: none;
  border-radius: 0.8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  padding: 0.2rem;
  text-align: center;
  width: 10rem;
}

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #242423;
  color: #FFFFFF;
  padding: 1.8rem 1.2rem;
  font-size: 1rem;
}
footer h2 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
footer a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 0.7rem;
  padding-left: 0.6rem;
}
footer a:hover {
  color: #D3D3D3;
}
footer i {
  font-size: 1.2rem;
  padding-left: 0.6rem;
}
footer i:hover {
  color: rgba(224, 222, 222, 0.8);
}

.footer-navigation {
  text-decoration: none;
}

.inline ul li {
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
