body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1.7fr 0.3fr;
  grid-template-rows: 1fr;
  align-items: center;
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
  height: 80px;
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 500;
}
nav a {
  text-decoration: none;
  color: #000000;
}

h2 {
  margin-top: 3%;
  font-size: 24px;
}

.menu {
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.menu-item:hover {
  color: #E46953;
  border-bottom: 3px solid #E46953;
  padding-bottom: 4px;
}

.search-bar input[type=text] {
  height: 32px;
  width: 250px;
  border: none;
  background-color: #f3f3f3;
  margin-right: 5px;
  font-size: 14px;
  padding: 0 10px;
  border-radius: 5px;
}
.search-bar button {
  background-color: #F9C846;
  border: none;
  width: 90px;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 32px;
  margin-right: 5px;
  font-size: 14px;
  padding: 0 10px;
  border-radius: 5px;
}
.search-bar button:hover {
  background-color: #FBC431;
  color: #000000;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.fondo-inicio-img {
  background-image: url("../images/inicio.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.fondo-inicio-img h1 {
  font-size: 59px;
  font-family: "Montserrat", sans-serif;
}

.inicio-fondo {
  background-color: rgba(0, 0, 0, 0.764);
  padding: 150px;
}
.inicio-fondo button {
  background-color: #E9806E;
  border: none;
  width: 180px;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 40px;
  margin-right: 5px;
  font-size: 15px;
  padding: 0 10px;
  border-radius: 15px;
  font-weight: bold;
}
.inicio-fondo button:hover {
  background-color: #E46953;
  color: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.popular-products .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
}
.popular-products h2 {
  margin-top: 3%;
  font-size: 24px;
}

.product {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex-basis: 20%;
}
.product img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.product h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.product .price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #E46953;
  margin-bottom: 10px;
}
.product .region {
  font-size: 1rem;
  color: #999;
}

.fondo-services-img-1 {
  background-image: url("../images/inicio.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo-services-img-2 {
  background-image: url("../images/inicio.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo-services-img-3 {
  background-image: url("../images/inicio.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo-services-img-4 {
  background-image: url("../images/inicio.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.services-fondo {
  background-color: rgba(0, 0, 0, 0);
  padding: 50px;
  color: rgba(0, 0, 0, 0);
  gap: 100px;
}
.services-fondo:hover {
  background-color: rgba(0, 0, 0, 0.764);
  color: #ffffff;
}

.our-services {
  background-color: rgba(169, 229, 187, 0.231372549);
  padding: 0.5rem;
  padding-bottom: 4rem;
}
.our-services .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #242423;
  color: #fff;
  padding: 50px 20px;
  font-size: 16px;
}
footer h2 {
  margin-bottom: 20px;
  font-size: 20px;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  margin-right: 10px;
}
footer ul li:last-child {
  margin-right: 0;
}
footer a {
  color: #FFFFFF;
  text-decoration: none;
}
footer a:hover {
  color: #D3D3D3;
}
footer i {
  font-size: 25px;
}

.footer-navigation {
  text-decoration: none;
}
.footer-navigation a:hover {
  border-bottom: solid 1px #D3D3D3;
}

.inline ul li {
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
