footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: $background-color_13;
    color: $color_5;
    padding: 1.8rem 1.2rem;
    font-size: 1rem;

    h2 {
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 400;
    }

    a {
        color: $color_5;
        text-decoration: none;
        font-size: 0.7rem;
        padding-left: 0.6rem;

        &:hover {
            color: $color_8;
        }
    }

    i {
        font-size: 1.2rem;
        padding-left: 0.6rem;

        &:hover {
            color: $color_9;
        }
    }
}

.footer-navigation {
    text-decoration: none;
}

.inline {
    ul {
        li {
            display: inline-block;
        }
    }
}