footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: $background-color_12;
    color: $color_7;
    padding: 50px 20px;
    font-size: 16px;

    h2 {
        margin-bottom: 20px;
        font-size: 20px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    a {
        color: $color_3;
        text-decoration: none;

        &:hover {
            color: $color_8;
        }
    }

    i {
        font-size: 25px;
    }
}

.footer-navigation {
    text-decoration: none;

    a {
        &:hover {
            border-bottom: solid 1px #D3D3D3;
        }
    }
}

.inline {
    ul {
        li {
            display: inline-block;
        }
    }
}