/* hero section */
.fondo-inicio-img {
    background-image: url("../images/inicio.png");
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-size: 3rem;
        font-family: $font-family_2;
        padding-bottom: 1.5rem;
    }

    p {
        padding-bottom: 3rem;
    }
}

.inicio-fondo {
    background-color: $background-color_5;
    padding: 5rem 15rem;

    button {
        background-color: $background-color_6;
        color: $color_3;
        border: none;
        width: 11.2rem;
        height: 2.5rem;
        font-size: 0.9rem;
        font-weight: 500;
        padding: 0 0.6rem;
        border-radius: 0.9rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: $background-color_7;
            color: $color_3;
            box-shadow: 0rem 0.2rem 0.2rem $color_7;
        }
    }
}

.banner {
    margin-top: 4%;
    margin-bottom: 4%;
}


/* productos mas vendidos */
.sold-products {
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        background-color: $background-color_1;
        margin: auto;
        width: 85%;
    }

    .grid-h3 {
        padding-bottom: 0.5rem;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-content: center;
        grid-template-areas:
        "name price";
    }
    
    .s-product {
        padding: 0rem 0.6rem;
        background-color: $background-color_1;
    
        img {
            width: 100%;
            height: auto;
            margin-bottom: 1rem;
            border: solid 1px $color_9;
            border-radius: 0.5rem;
        }
    
        h3 {
            font-size: 1rem;
            font-weight: 500;
        }
    
        .name-product {
            grid-area: name;
            padding: 0;
            margin: 0;
        }
    
        .price {
            font-size: 0.8rem;
            font-weight: 400;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            grid-area: price;
            margin: 0;
        }
    
        .region {
            font-size: 0.8rem;
            font-weight: 300;
            color: $color_6;
            margin: 0;
        }
    }
}


/* nuestros servicios */
.our-services {
    background-color: $background-color_11;
    padding-bottom: 4%;
    
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        text-align: center;
        width: 83.5%;
        margin: auto;

        .col-md-3 {
            margin: 0;
            padding-left: 0;
            padding-right: 0;
            width: 24%;
        }
    }

    h2 {
        padding-top: 4%;
    }

    .fondo-services-img-1 {
        background-image: url("../images/inicio.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .fondo-services-img-2 {
        background-image: url("../images/inicio.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .fondo-services-img-3 {
        background-image: url("../images/inicio.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .fondo-services-img-4 {
        background-image: url("../images/inicio.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .services-fondo {
        background-color: $background-color_10;
        width: 100%;
        height: 15rem;
        padding: 1.2rem;
        font-size: small;
        color: $color_5;
        gap: 6.2rem;
        transition: all 0.5s ease;
    
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    
        &:hover {
            background-color: $background-color_5;
            color: $color_3;
        }
    }
}


/* regiones */
.regiones {
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        text-align: center;
        width: 83.5%;
        margin: auto;

        .col-md-12 {
            margin: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .fondo-regiones-img {
        background-image: url("../images/inicio.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 25rem;
    }

    .regiones-fondo {
        width: 50%;
        height: 25rem;
        padding: 3.5rem;

        font-size: small;
        transition: all 0.5s ease;
        color: $color_1;

        .div-region {
            background-color: $background-color_8;

            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            text-align: start;

            padding: 1% 15%;
            height: 18rem;
        }

        p {
            padding-bottom: 3rem;
        }

        button {
            background-color: $background-color_6;
            color: $color_3;
            border: none;
            width: 11.2rem;
            height: 2.5rem;
            font-size: 0.9rem;
            font-weight: 500;
            padding: 0 0.6rem;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: all 0.3s ease;
    
            &:hover {
                background-color: $background-color_7;
                color: $color_3;
                box-shadow: 0rem 0.2rem 0.2rem $color_7;
            }
        }
    }
}


/* nuestro equipo de trabajo */
.our-team {
    background-color: $background-color_13;
    padding-bottom: 4%;
    
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        text-align: center;
        width: 85%;
        margin: auto;

        .col-sm-2 {
            h3 {
                padding-top: 1rem;
                font-size: 1rem;
                font-weight: 200;
            }
        }

        .div-img-team {
            height: 15rem;
            width: 11rem;
        }
    }

    h2 {
        padding-top: 4%;
    }

    button {
        background-color: $background-color_6;
        color: $color_3;
        border: none;
        width: 11.2rem;
        height: 2.5rem;
        font-size: 0.9rem;
        font-weight: 500;
        padding: 0 0.6rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: $background-color_7;
            color: $color_3;
            box-shadow: 0rem 0.2rem 0.2rem $color_7;
        }
    }
}