.fondo-inicio-reg-img {
    background-image: url("../images/regiones/Cusco.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.inicio-fondo-region {
    background-color: $background-color_5;
    padding: 10rem 18rem;
    width: 100%;

    .h1-desc-reg {
        font-size: 5rem;
        font-family: $font-family_3;
        color: $color_9;
    }
}

.container-historia {
    width: 90%;

    margin: auto;
    margin-top: 3rem;

    .bg-color {
        background-color: $background-color_20;
        padding: 1rem;
    }
}

.container-lugares {
    width: 90%;

    margin: auto;
    margin-top: 3rem;

    .bg-color {
        background-color: $background-color_20;
        padding: 1rem;
    }

    .row {
        margin-bottom: 6rem;
        margin: auto;
        
        .lug {
            margin-top: 1rem;
            padding: 1.2rem;

            .img-lug {
                margin: 0;

                img {
                    border-radius: 0.5rem;
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .info-lug {
                h3 {
                    margin-top: 1rem;
                    padding-bottom: 0.5rem;
                    border-bottom: 1px black solid;
                }
                p {
                    margin-top: 1.2rem;
                }
            }
        }
    }
}

.container-artesanos {
    width: 90%;

    margin: auto;
    margin-top: 3rem;
    margin-bottom: 4rem;

    .bg-color {
        background-color: $background-color_20;
        padding: 1rem;
    }

    .row {
        margin-bottom: 6rem;
        margin: auto;
        
        .art {
            margin-top: 1rem;
            padding: 1.2rem;

            .img-art {
                margin: 0;
                height: 17rem;

                img {
                    border-radius: 0.5rem;
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .info-art {
                h3 {
                    margin-top: 1rem;
                    padding-bottom: 0.5rem;
                    border-bottom: 1px black solid;
                }
                p {
                    margin-top: 1.2rem;
                }
            }
        }
    }
}

.comments-section-region{
    .comments-presentation{
        background-color: #F2F2F2;
        width: 90%;
        height: 18rem;
        padding: 1.5rem;
        margin: auto;
        border-radius: 2rem;
        h3{
            margin-bottom: 1rem;
        }
        .new-comment-section{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            .user-icon{
                margin-right: 1rem;
                margin-top: 0.5rem;
            }
            .input-box{
                width: 95%;
                margin-bottom: 1.5rem;
                display: flex;
                flex-direction: column;
                justify-content: baseline;
                h4{
                    margin-left: 1rem;
                }
                .input-comment{
                    width: 100%;
                    height: 3rem;
                    outline: none;
                    border: none;
                    padding: 1rem;
                    background-color: transparent;
                    color: black;
                    border-bottom: 2px solid rgba(255, 255, 255, 0);
                    transition: all 0.3s ease;
                    align-self: flex-start;
                    &::placeholder{
                        color:black;
                        text-align: start;
                    }
                    &:focus{
                        border-bottom: 2px solid #000000;
                    }
                }
                .input-comment.error{
                    transition: all 0.5s ease;
                    border-bottom: 2px solid #dc3545;
                }
                .error-input{
                    margin-left: 1rem;
                    color: #dc3545;
                    display: none;
                }
                .error-input.active{
                    display: block;
                    transition: all 0.5s ease;
                }
                .btn-comment{
                    height: 3.5rem;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 1rem;
                    button{
                        height: 2.4rem;
                        width: 8rem;
                        font-size: 1rem;
                        border: 0;
                        outline: none;
                        font-weight: 600;
                        border-radius: 1rem;
                        background-color: #242423;
                        color: white;
                        transition: all 0.3s ease;
                        &:hover {
                            background-color: $background-color_14;
                            color: $color_5;
                            box-shadow: 0px 3px 6px #0000001a;
                        }
                    }
                }
            }
            
        }
    }
    .comments-container{
        width: 90%;
        background-color: white;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin: auto;
        margin-top: 1.5rem;
        padding: 1.5rem;
        .comment{
            width: 100%;
            margin-bottom: 1.5rem;
            //border: solid black 1px;
            display: grid; 
            grid-template-columns: 0.5fr 25fr 3fr;
            grid-template-rows: auto;
            justify-content: flex-start; 
            gap: 0 1.5rem;
            grid-template-areas: 
                "user-icon comment-text icons"; 
            .comment-user{
                align-self: center;
                justify-self: flex-start;
                grid-area: "user-icon";
            }
            .comment-text{
                text-align: justify;
                grid-area: "comment-text";
                justify-self: flex-start;
                .rating-comment-box{
                    color: #bfbfbf;
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                    i.active{
                        color: #F9C846;
                    }
                }
            }
            .comment-votes{
                display: flex;
                justify-self: center;
                align-self: center;
                align-items: center ;
                gap: 1rem;
                grid-area: "icons";
                .liked-comment{
                    .count{
                        margin: 0;
                    }
                }
                .dislike-comment{
                    .count{
                        margin: 0;
                    }
                }
            }
        }
    }
    .pagination-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 3rem;
        button{
            background-color: white;
            border: 0;
            padding-inline: 0.7rem;
            i{
                opacity: 50%;
            }
        }
        #currentPageIndicator{
            background-color: #F2F2F2;
            border: none;
            border-radius: 0.8rem;
            font-family: $font-family_1;
            font-weight: 600;
            padding: 0.2rem;
            text-align: center;
            width: 10rem;
        }
    }
}