.fondo-inicio-img {
    background-image: url("../images/inicio.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.inicio-fondo {
    background-color: $background-color_5;
    padding: 4rem 18rem;
    width: 100%;

    button {
        background-color: $background-color_6;
        color: $color_5;
        border: none;
        width: 11.2rem;
        font-size: 1rem;
        font-weight: 600;
        padding: 0.6rem 0.6rem;
        border-radius: 0.9rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: $background-color_7;
            color: $color_5;
            box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1019607843);
        }
    }

    h1 {
        font-size: 3rem;
        font-family: $font-family_2;
        padding-bottom: 1.5rem;
    }
}

.container-productos-vendidos {
    width: 90%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.container-regiones {
    width: 90%;
    margin: auto;
    margin-top: 3.5rem;
}

.sold-products {
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        background-color: $background-color_1;
    }

    .grid-h3 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-content: center;
        grid-template-areas: "name price";
    }

    .s-product {
        padding: 0rem 0.6rem;
        background-color: $background-color_1;
        margin-bottom: 6rem;
        height: 17rem;

        img {
            border: solid 1px rgba(0, 0, 0, 0.1882352941);
            border-radius: 1.25rem;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .name-product {
            grid-area: name;
            padding: 0;
            margin: 0;
        }

        .price {
            font-size: 1rem;
            font-weight: 400;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            grid-area: price;
            margin: 0;
        }

        .region {
            font-size: 1rem;
            font-weight: 300;
            color: $color_6;
            margin: 0;
        }
    }
}

.container-personal {
    margin: 4rem 0;
}

.our-services {
    background-color: $background-color_8;
    padding: 3rem 0;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: auto;

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;

        .col-md-3 {
            margin: 0;
            padding-left: 0;
            padding-right: 0;
            width: 24%;
        }
    }

    .fondo-services-img-1 {
        background-image: url("../images/servicios/1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0.25rem;
    }

    .fondo-services-img-2 {
        background-image: url("../images/servicios/2.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0.25rem;
    }

    .fondo-services-img-3 {
        background-image: url("../images/servicios/3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0.25rem;
    }

    .fondo-services-img-4 {
        background-image: url("../images/servicios/4.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0.25rem;
    }

    .services-fondo {
        background-color: $background-color_9;
        width: 100%;
        height: 19rem;
        padding: 1.4rem;
        font-size: 1rem;
        color: $color_7;
        gap: 6.2rem;
        transition: all 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 0.25rem;

        &:hover {
            background-color: $background-color_5;
            color: $color_5;
        }
    }
}

.regiones {
    .row {
        padding-left: 0;
        padding-right: 0;
    }

    .fondo-regiones-img {
        background-image: url("../images/banner-regiones.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0.25rem;
        height: 25rem;
    }

    .regiones-fondo {
        width: 29.5rem;
        height: 25rem;
        font-size: small;
        transition: all 0.5s ease;
        color: $color_2;
        margin-left: 3.5rem;
        display: flex;
        align-items: center;

        .div-region {
            background-color: $background-color_10;
            display: flex;
            align-content: center;
            align-items: center;
            padding: 1rem 4rem;
            height: 18rem;
            width: 100%;
        }

        button {
            background-color: $background-color_6;
            color: $color_5;
            border: none;
            width: 11.2rem;
            height: 2.5rem;
            font-size: 0.9rem;
            font-weight: 500;
            padding: 0 0.6rem;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: $background-color_7;
                color: $color_5;
                box-shadow: 0rem 0.2rem 0.2rem #0000001a;
            }
        }
    }
}

.our-team {
    background-color: $background-color_11;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 2rem;

    h2 {
        padding-bottom: 0;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;

        button {
            background-color: $background-color_6;
            color: $color_5;
            border: none;
            width: 100%;
            height: 2.5rem;
            font-size: 0.9rem;
            font-weight: 500;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: all 1s ease;

            &:hover {
                background-color: $background-color_7;
                color: $color_5;
                box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1019607843);
            }
        }

        .personal {
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;

            img {
                border-radius: 0.3rem;
                height: 70%;
                object-fit: cover;
            }

            &:hover {
                img {
                    transform: scale(1.06, 1.06);
                }
            }

            p {
                padding-top: 1rem;
            }
        }
    }
}

.container-testimonios {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    margin-bottom: 5rem;

    .testimonios {
        background-color: $background-color_12;
        display: flex;
        flex-direction: column;
        padding: 3rem 2rem;
        width: 90%;

        .row {
            .card-testimonio {
                background-color: $background-color_1;
                padding: 1rem 1rem;
                display: flex;
                flex-direction: column;

                img {
                    border-radius: 0.3rem;
                    height: 3.5rem;
                    object-fit: cover;
                }
            }

            .card-star {
                display: flex;
                justify-content: center;
                padding: 1rem;
            }
        }

        .p {
            padding-top: 1rem;
            margin-bottom: 0;
        }
    }
}

.h6-form {
    padding-top: 3rem;
}