/* FUENTES */
$font-family_1: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-family_2: "Montserrat", sans-serif;
$font-family_3: 'Kavoon', cursive;

/* COLORES */
$color_1: #DE7BD7;
$color_2: #000000;
$color_3: #E46953;
$color_4: #00000086;
$color_5: #FFFFFF;
$color_6: #000000a3;
$color_7: #00000000;
$color_8: #D3D3D3;
$color_9: #e0dedecc;
$color_10: #F9C846;
$background-color_1: #FFFFFF;
$background-color_2: #F3F3F3;
$background-color_3: #F9C846;
$background-color_4: #FBC431;
$background-color_5: #000000a3;
$background-color_6: #E9806E;
$background-color_7: #E46953;
$background-color_8: #a9e5bb3b;
$background-color_9: #00000000;
$background-color_10: #ffffffd1;
$background-color_11: #f9c94625;
$background-color_12: #e9806e1e;
$background-color_13: #242423;
$background-color_14: #0E0E0E;
$background-color_15: #ffe1fdc1;
$background-color_16: #E09898;
$background-color_17: #000000;
$background-color_18: #b9b9b9a2;
$background-color_19: #a9e5bb;
$background-color_20: #F6F6F6;
$background-color_21: #8ADAA1;