#chatbot-container {
    background-color: #F8F8F8;
    border-radius: 2rem;
    width: 23rem;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 1rem;

    position: absolute;
    bottom: 100%;
    right: 0;

    box-shadow: 0px 3px 6px #0000001a;
}

#chatbot-header {
    background-color: white;
    padding: 10px;
    color: black;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    height: 4.5rem;
}

.nombre_p{
    text-align: left;
    height: 100%;
    margin-top: 1%;
}

.nombre_p h4{
    font-size: 1.2rem;
    margin-top: 1%;
}

.borde-butom{
    width: 4rem;
    height: 4rem;
    background-color: #F9C846;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px; /* Ajusta este valor según sea necesario */
    right: 20px;
    z-index: 1;
}

#toggleButton{
    color: white;
}

.nombre_p p{
    position: relative;
    bottom: 10px;
    
    font-size: 1rem;
}

.foo-chtbot{
    padding: 0.4rem;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#chatbot-header img {
    width: 3rem;
    height: 100%;
    object-fit: cover;
    margin-right: 1rem;
    margin-left: 0.6rem;
    border-radius: 50%;
}

#chat-container {
    background-color: #F2F2F2;
    height: 16rem;
    overflow-y: scroll;
    padding: 0.2rem 1.2rem;
    border-radius: 5px;
    margin-bottom: 10px;
}

/*#chat-log{
    height: 16rem;
    overflow-y: scroll;
}*/

#input-container {
    display: flex;
}

#faq-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;

}

/* preguntas principales */
.faq-button {
    font-size: 1rem;
    margin: 0.2rem;
    padding: 0.4rem;
    background-color: #595957;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 95%;
    
    &:hover {
    background-color:#393938;
    }
}

.message {
    margin-bottom: 10px;
    margin-top: 10px;
}

.message.bot {
    margin-bottom: 10px;
    margin-top: 10px;
}

.message.user {
    background-color: #F8E4AF;
    margin-left: 3.7rem;
    border-radius: 0.5rem 0 0.5rem 0.5rem;
    padding: 0.3em 0.5rem;
    text-align: left;
    width: 80%;

    box-shadow: 0px 2px 2px #0000001a;
}

#clear-chat-button{
    position: relative;
    left: 8rem;
    top: 12px;
}

/* Estilos para los botones de preguntas relacionadas */
.related-question-button {
    display: inline-block;
    margin: 0.8rem;
    margin-top: 1px;
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #DDD;
    color: #333;
    border: none;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    
    &:hover {
    background-color: #ccc;
    }
}