#btn-crear-cuenta {
    width: 100%;
    border-radius: 8px;
    padding: 0.8rem;
    border: transparent;
    background-color: $background-color_6;
    margin-top: 2rem;
    color: white;

    &:hover {
        background-color: $background-color_7;
        box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1019607843);
    }
}

.Other_sesion {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

    button {
        display: flex;
        padding: 0.75rem;
        border: transparent;
        box-shadow: #000000;
        border-radius: 0.5rem;
    }

    img {
        width: 1.5rem;
        margin-right: 0.6rem;
    }

    .col-md-6 {
        display: flex;
        justify-content: center;
    }
}

.registro-group {
    position: relative;
    margin-bottom: 2rem;

    &:placeholder-shown {
        font-size: 1rem;
    }

    p {
        text-align: start;
        font-size: 16px;
        color: red;
    }

    input.invalid {
        border: 2px solid red;
    }

    input.valid {
        border: 2px solid green;
    }

    input {
        font-size: 1rem;
    }
}

.form-h1-espacio {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.espacio {
    margin-top: 3rem;
}

.box-contorno {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    margin: auto;

    h6 {
        font-weight: 400;
        margin-bottom: 0;
    }

    a {
        padding-left: 1.4rem;
        color: #7b7b7b;
    }
}