* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    padding-bottom: 1.8%;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: $color_2;
}

ul {
    list-style-type: none;
    padding: 0;
}

body {
    font-family: $font-family_1;
}